@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background-size: 100vh;
    background-color: rgb(46, 46, 149);
}
header{
    min-height: 100vh;
    max-width: 100vw;
    background-image: url(../imagens/wallpaper-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    line-height: 3;
}
header>p{
    min-width: 400px;
    max-width: 645px;
    line-height: 2;
    text-align: center;
    padding-bottom: 25px;
}
header>ul{
    list-style-type: none;
    text-align: center;
    width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header>ul>li{
    border: 2px solid white;
    margin-bottom: 25px;
    max-width: 330px;
    min-width: 330px;
}
#link-topo1>a{
    color: white;
    text-decoration: none;
}
#link-topo1>a:hover{
    text-decoration:underline;
    color: #D214A6;
}
#link-topo1::before{
    content: url(../imagens/instagram2.png);

}
#link-topo2::before{
    content: url(../imagens/whats-icon4.png);

}
#link-topo2>a{
    color: white;
    text-decoration: none;
}
#link-topo2>a:hover{
    text-decoration:underline;
    color: #41C452;
}
.classe2{
    background-image: url(../imagens/wallpaper-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.classe2>h1{
    font-size:1.7em ;
    color: white;
    text-align: center;
    height: 70px;
    padding-bottom: 20px;
}
#perfil{
    width: 30vw;
}
.identificar{
    display: flex;
    max-width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.identificar>picture{
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.identificar-p{
    text-align: justify;
    color: white;
    text-indent: 10px;
    background-color: #00152491;
    padding: 5px;
    backdrop-filter: blur(5px);
    max-width: 513px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 1.3em;
    line-height: 1.2;
}
.classe2>picture>img{
    padding-top: 125px;
    padding-left: 20px;
}
.classe3{
    background-image: url(../imagens/wallpaper-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    padding: 15px;
    padding-top: 110px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1.7em;
    line-height: 1.4;
}
.certificado{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 800px;
}
#img1{
    border-radius: 30px;
}
#img2{
    border-radius: 30px;
}
.texto-certificado{
    display: flex;
    color: white;
    max-width: 513px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-indent: 20px;
}
.texto-certificado>h1{
    padding-bottom: 60px;
}
#p-certificado{
    padding-bottom: 175px;
    background-color: #00152491;
    max-width: 551px;

}
#p-certificado2{
    padding-bottom: 15px;
    max-width: 551px;
    background-color: #00152491;
    padding: 5px;
    backdrop-filter: blur(5px);
}
#p-certificado3{
    text-align: center;
    padding-bottom: 10px;
    background-color: #00152491;
    padding: 5px;
    backdrop-filter: blur(5px);
    max-width: 551px;
}
.texto-certificado>ul{
    list-style-image: url(../imagens/whats-icon5.png);
}
#orçamento{
    text-decoration: none;
    color: white;
    max-width: 551px;
}
#orçamento:hover{
    color: rgb(56, 255, 56);;
}
footer{
    background-color: #001524;
    color: white;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer>ul{
    list-style-type: none;
}
#localiza{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#localiza:hover{
    color: rgb(255, 171, 171);
    text-decoration: underline;
}