@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(46, 46, 149);
}
header{
    background-image: url(../imagens/wallpaper-blur.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header>h1{
    font-size: 5em;
    padding-bottom: 50px;
}
header>p{
    font-size: 3em;
    max-width: 730px;
}
.inicio{
    font-size: 3em;
    padding-top: 60px;
    max-width: 352px;
}
#começo1{
    list-style-image: url(../imagens/whats-icon4.png);
    border: 3px solid white;
    padding-bottom:20px;
    margin-bottom: 20px;
    max-height: 105px;
    max-width: 352px;
}
#começo1>a{
    text-decoration: none;
    color: white;
}
#começo2{
    list-style-image: url(../imagens/instagram2.png);
    border: 3px solid white;
    padding: 0px;
    margin-bottom: 20px;
    height: 105px;
    max-width: 352px
}
#começo2>a{
    text-decoration: none;
    color: white;
}
#começo1>a:hover{
    color: rgb(56, 255, 56);
}
#começo2>a:hover{
    color: #FE5D5F;
}
.classe2{
    background-image: url(../imagens/wallpaper-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    min-height: 100vh;
}
article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    top: 115%;
    position: absolute;
    left: 50%;
    font-size: 1.7em;
    line-height: 1.5;
}

.classe2>article>h1{
    padding-bottom: 60px;
    color: white;
}
.classe2>article>p{
    text-align: center;
    color: white;
    max-width: 555px;
}
.classe2>picture>img{
    padding-top: 125px;
    padding-left: 20px;
}
footer{
    list-style-image: url(../imagens/pin-p.png);
    background-color: #001524;
    color: white;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}